<!DOCTYPE html>
<html lang="en">
<%- include("../components/head.ejs") %>
<body>
    <h3>hello <%= firstName %> <%= lastName %></h3>
    <h6>this is to inform you that you have been registered as an admin/handler in the gadget-x organization</h6>
    <strong>we welcome you to the community and hope to get productive together</strong>
</body>
</html>